{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.6",
                "targets": "> 0.25%, not dead",
                "debug": false
            }
        ],
        "@babel/preset-react"
    ]
}